[tool.poetry]
name = "pythereum"
version = "1.1.4"
description = "A lightweight Ethereum JSON RPC library written in python"
authors = ["gabedonnan <47415809+gabedonnan@users.noreply.github.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.11,<4.0"
websockets = "^11.0.3"
dataclasses-json = "^0.6.1"
python-dotenv = "^1.0.0"
pytest = "^7.4.2"
pytest-asyncio = "^0.21.1"
aiohttp = "^3.8.6"
eth-account = "^0.9.0"
eth-utils = "^2.2.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
